<!DOCTYPE html>
<html lang="en">
<%- include('../parcials/head') %>
<body>
   
    <%- include('../parcials/header') %>
    
<!-- Main Index -->
<main class="main-login">
    <div class="main-login-nav">
        <a href="#">INICIAR SESION</a>
        <a href="register">REGISTRARSE</a>
    </div>

    <div class="form-container">
        <div class="form-content">
            <h2>INICIAR SESION</h2>
            <% if(locals && locals.error){console.log(error)} %>

           
            <form action="" method="POST">
                <span><%= error && error.msg %></span>
                <label for="user">Email</label>
                <input type="email" name="user" id="user" placeholder="Ingresá tu e-mail">
                <span id="user_error" class="error">
                <%= locals && locals.error && locals.error.user && locals.error.user.msg %>
                </span>
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Ingresá tu contraseña">
                 <span id="password_error" class="error">
                <%= locals && locals.error && locals.error.password && locals.error.password.msg %>
                </span>
                <div>
                    <div>
                        <input type="checkbox" name="remember" id="remember" value="recordarme">
                        <label for="remember">Recordarme</label>
                    </div>
                    <div>
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
                <button type="submit">INGRESAR</button>

                <a href="register">CREAR CUENTA</a>

            </form>
        </div>
        <img src="/img/login-modelo.jpg" alt="">
    </div>
</main>

<%- include('../parcials/footer') %>


<script src="/script/script.js"></script>
<script src="/script/footer.js"></script>


</body>
</html>
