<!DOCTYPE html>
<html lang="en">
<%- include('../parcials/head') %>
<body>
    <%- include('../parcials/header') %>

<!-- Main Index -->
<main class="main-register">
    <div class="form-container">
        <img src="/img/register-modelo.jpg" alt="">
        <div class="form-content">
            <h2>MI PERFIL</h2>
            <% if (userToEdit) { %>
                <% if (locals && locals.profileStatus) { %> 
                    <h4 class="<%= profileStatus.result %>"><%= profileStatus.msg %></h4>
                <% } %>
                <form method="POST" action="/users/profile/?_method=PUT" 
                enctype="multipart/form-data" id="form-register">

                    <label for="first_name">Nombre</label>
                    <input type="text" class="<%if(locals&&locals.errors&&errors.first_name){%><%="error-input"%><%}%>" name="first_name" id="first_name" placeholder="Juan Shoes" 
                    value="<%= userToEdit.first_name %>">
                    <span id="first_name_error" class="error">
                        <%= locals && locals.errors && locals.errors.first_name && locals.errors.first_name.msg %>
                    </span>
    
                    <label for="last_name">Apellido</label>
                    <input type="text" class="<%if(locals&&locals.errors&&errors.last_name){%><%="error-input"%><%}%>" name="last_name" id="last_name" placeholder="Thunder"
                    value="<%= userToEdit.last_name %>">
                    <span id="last_name_error" class="error">
                        <%= locals && locals.errors && locals.errors.last_name && locals.errors.last_name.msg %>
                    </span>
    
                    <label for="email">Email</label>
                    <input type="email" class="<%if(locals&&locals.errors&&errors.email){%><%="error-input"%><%}%>" name="email" id="email" placeholder="Ej. thundershoes@gmail.com"
                    value="<%= userToEdit.email %>">
                    <span id="email_error" class="error">
                        <%= locals && locals.errors && locals.errors.email && locals.errors.email.msg %>
                    </span>
    
                    <label for="phone">Teléfono</label>
                    <input type="tel" class="<%if(locals&&locals.errors&&errors.phone){%><%="error-input"%><%}%>" name="phone" id="phone" 
                    placeholder="Ej. cod (011) - 1544876235 "
                    value="<%= userToEdit.phone %>">
                    <span id="phone_error" class="error">
                        <%= locals && locals.errors && locals.errors.phone && locals.errors.phone.msg %>
                    </span>
                    
                    <h4>Domicilio</h4>

                    <label for="address">Calle y número</label>
                    <input type="text" name="address" id="address" placeholder="Nombre calle 123"
                    value="<%= userToEdit.address %>">

                    <label for="city">Ciudad</label>
                    <input type="text" name="city" id="city" placeholder="Paraná"
                    value="<%= userToEdit.city %>">

                    <label for="state">Provincia</label>
                    <input type="text" name="state" id="state" placeholder="Entre Rios"
                    value="<%= userToEdit.state %>">

                    <label for="postal_code">Código postal</label>
                    <input type="number" name="postal_code" id="postal_code" 
                    placeholder="3100" value="<%= userToEdit.postal_code %>">

                    <label for="avatar">Imagen de perfil</label>
                    <input type="file" name="avatar" id="file" >
                    <span id="file_ext_error" class="error">
                        <%= locals && locals.errors && locals.errors.avatar && locals.errors.avatar.msg %>
                    </span>
                    
                    <h4>Cambiar contraseña</h4>

                    <label for="password">Contraseña</label>
                    <input type="password" class="<%if(locals&&locals.errors&&errors.password){%><%="error-input"%><%}%>" name="password" id="password" 
                    placeholder="Ingresá tu contraseña">
                    <span id="password_error" class="error">
                        <%= locals && locals.errors && locals.errors.password && locals.errors.password.msg %>
                    </span>
    
                    <label for="password-confirm">Confirmar contraseña</label>
                    <input type="password" class="<%if(locals&&locals.errors&&errors.passwordConfirm){%><%="error-input"%><%}%>" name="passwordConfirm" id="password-confirm" 
                    placeholder="Repetí tu contraseña">
                    <span id="password_confirm_error" class="error">
                        <%= locals && locals.errors && locals.errors.passwordConfirm && locals.errors.passwordConfirm.msg %>
                    </span>
                    
                    <button type="submit">CONFIRMAR</button>
                </form>
            <% } else { %>
                <p>Ocurrió un error al intentar cargar los datos</p>
            <% } %>
        </div>
    </div>
</main>

<%- include('../parcials/footer') %>

<script src="/script/form-profile-validator.js"></script>

</body>
</html>
