<!DOCTYPE html>
<html lang="en">
<%- include('../parcials/head') %>
<body>
    <%- include('../parcials/header') %>
    <main class="main-crear-producto">
        <div class="form-container">
            <div class="form-content">
                <h2>CREAR PRODUCTO</h2>
                <form id="product" action="" method="POST" enctype="multipart/form-data">
                    <label for="name">Nombre del producto: </label>
                    <input class="<%if(locals&&locals.errors&&errors.name){%><%="error-input"%><%}%>" value="<%= locals && locals.product && product.name %>"
                        type="text" name="name" id="name" autofocus>
                    <span id="name_error" class="error">
                        <%= locals && locals.errors && locals.errors.name && locals.errors.name.msg %>
                    </span>
                 
                    <label for="price">Precio</label>
                    <input class="<%if(locals&&locals.errors&&errors.price){%><%="error-input"%><%}%>" value="<%= locals && locals.product && product.price %>"
                        type="number" min="0.00" max="1000000.00" step="0.01" 
                        name="price" id="price" placeholder="Ej. 4200.99">
                    <span id="price_error" class="error">
                        <%= locals && locals.errors && locals.errors.price && locals.errors.price.msg %>
                    </span>
                    
                    <label for="on_sale">Descuento: </label>
                    <input class="<%if(locals&&locals.errors&&errors.on_sale){%><%="error-input"%><%}%>" type="number" name="on_sale" id="on_sale" autofocus 
                        value="<%=locals && locals.product && product.on_sale%>" placeholder="0 - 99">

                    <span id="on_sale_error" class="error">
                        <%= locals && locals.errors && locals.errors.on_sale && locals.errors.on_sale.msg %>
                    </span>
                    
                    <label for="description">Descripción</label>
                    <textarea class="<%if(locals&&locals.errors&&errors.description){%><%="error-input"%><%}%>" maxlength="500" name="description" 
                        id="description" cols="60" rows="5" placeholder="Descripción del producto (Hasta 500 caracteres)"
                    ><%= locals && locals.product && product.description %></textarea>
                    <span id="description_error" class="error">
                        <%= locals && locals.errors && locals.errors.description && locals.errors.description.msg %>
                    </span>

                    <input class="<%if(locals&&locals.errors&&errors.image){%><%="error-input"%><%}%>" type="file" multiple name="image" id="image" accept="image/*">
                    <span id="image_error" class="error">
                        <%= locals && locals.errors && locals.errors.image && locals.errors.image.msg %>
                    </span>
                    
                    <span>Genero</span>
                    <div class="contenedor-categorias contenedor-generos">
                        
                        <input type="radio" name="gender" id="product-c-mujer" value="1" <% if (locals && locals.product && product.gender_id && product.gender_id == 1 ) { %><%='checked'%><% } %>>
                        <label for="product-c-mujer">MUJER</label>
                        
                        <input type="radio" name="gender" id="product-c-hombre" value="2" <% if (locals && locals.product && product.gender_id && product.gender_id == 2 ) { %><%='checked'%><% } %>>
                        <label for="product-c-hombre">HOMBRE</label>
                        
                        <input type="radio" name="gender" id="product-c-unisex" value="3" <% if (locals && locals.product && product.gender_id && product.gender_id == 3 ) { %><%='checked'%><% } %>>
                        <label for="product-c-unisex">UNISEX</label>

                        <span id="gender_error" class="error width-95">
                            <%= locals && locals.errors && locals.errors.gender && locals.errors.gender.msg %>
                        </span>
                    </div>

                    <span>Marca</span>
                    <div class="contenedor-marcas">

                        <input type="radio" name="brand" id="product-c-nike" value="1" <% if (locals && locals.product && product.brand_id && product.brand_id == 1 ) { %><%='checked'%><% } %>>
                        <label id="product-m-nike" for="product-c-nike" >NIKE</label>
                        
                        <input type="radio" name="brand" id="product-c-adidas" value="2" <% if (locals && locals.product && product.brand_id && product.brand_id == 2 ) { %><%='checked'%><% } %>>
                        <label id="product-m-adidas" for="product-c-adidas" >ADIDAS </label>
                        
                        <input type="radio" name="brand" id="product-c-puma" value="3" <% if (locals && locals.product && product.brand_id && product.brand_id == 3 ) { %><%='checked'%><% } %>>
                        <label id="product-m-puma" for="product-c-puma" >PUMA </label>
                        
                        <input type="radio" name="brand" id="product-c-newbalance" value="4" <% if (locals && locals.product && product.brand_id && product.brand_id == 4 ) { %><%='checked'%><% } %>>
                        <label id="product-m-newbalance" for="product-c-newbalance" >NEW BALANCE </label>

                        <span id="brand_error" class="error width-95">
                            <%= locals && locals.errors && locals.errors.brand && locals.errors.brand.msg %>
                        </span>
                        
                    </div>
                        
                    <span>Categoría</span>
                    <div class="contenedor-categorias">    
                        <input type="checkbox" name="category" id="product-c-tennis" value="1" 
                            <% if (locals && locals.product && product.categories && product.categories.indexOf('1')+1 ) {%><%='checked'%><% } %>>
                        <label for="product-c-tennis">TENNIS 
                        </label>
                        

                        <input type="checkbox" name="category" id="product-c-running" value="2"
                        <% if (locals && locals.product && product.categories && product.categories.indexOf('2')+1 ) {%><%='checked'%><% } %>>
                        <label for="product-c-running">RUNNING 
                        </label>
                        

                        <input type="checkbox" name="category" id="product-c-football" value="3"
                        <% if (locals && locals.product && product.categories && product.categories.indexOf('3')+1 ) {%><%='checked'%><% } %>>
                        <label for="product-c-football">FOOTBALL 
                        </label>
                        

                        <input type="checkbox" name="category" id="product-c-volley" value="4"
                        <% if (locals && locals.product && product.categories && product.categories.indexOf('4')+1 ) {%><%='checked'%><% } %>>
                        <label for="product-c-volley">VOLLEY 
                        </label>

                        <input type="checkbox" name="category" id="product-c-collection" value="5"
                        <% if (locals && locals.product && product.categories && product.categories.indexOf('5')+1 ) {%><%='checked'%><% } %>>
                        <label id="product-m-collection" for="product-c-collection" >COLLECTION 
                        </label>
                        
                        <span id="category_error" class="error width-95">
                            <%= locals && locals.errors && locals.errors.category && locals.errors.category.msg %>
                        </span>
                    </div>

                    <span>Colores</span>
                    <div class="contenedor-colores">
                        
                        <input type="checkbox" name="colors" id="product-c-rojo" value="1"
                        <% if (locals && locals.product && product.colors && product.colors.indexOf('1')+1 ) {%><%='checked'%><% } %>>
                        <label for="product-c-rojo" class="rojo">
                        </label>
                        
                        
                        <input type="checkbox" name="colors" id="product-c-azul" value="2"
                        <% if (locals && locals.product && product.colors && product.colors.indexOf('2')+1 ) {%><%='checked'%><% } %>>
                        <label for="product-c-azul" class="azul">
                        </label>
                        
                        
                        <input type="checkbox" name="colors" id="product-c-amarillo" value="3"
                        <% if (locals && locals.product && product.colors && product.colors.indexOf('3')+1 ) {%><%='checked'%><% } %>>
                        <label for="product-c-amarillo" class="amarillo">
                        </label>
                        
                        <input type="checkbox" name="colors" id="product-c-verde" value="4"
                        <% if (locals && locals.product && product.colors && product.colors.indexOf('4')+1 ) {%><%='checked'%><% } %>>
                        <label for="product-c-verde" class="verde">
                        </label>
                        
                        
                        <input type="checkbox" name="colors" id="product-c-negro" value="5"
                        <% if (locals && locals.product && product.colors && product.colors.indexOf('5')+1 ) {%><%='checked'%><% } %>>
                        <label for="product-c-negro" class="negro">
                        </label>
                        
                        <input type="checkbox" name="colors" id="product-c-white" value="6"
                        <% if (locals && locals.product && product.colors && product.colors.indexOf('6')+1 ) {%><%='checked'%><% } %>>
                        <label for="product-c-white" class="white">
                        </label>
                        
                        <input type="checkbox" name="colors" id="product-c-gris" value="7"
                        <% if (locals && locals.product && product.colors && product.colors.indexOf('7')+1 ) {%><%='checked'%><% } %>>
                        <label for="product-c-gris" class="gris">
                        </label>
                        
                        <span id="color_error" class="error width-95">
                            <%= locals && locals.errors && locals.errors.colors && locals.errors.colors.msg %>
                        </span>
                    </div>
                    
                    <span>Talles</span>
                    <div class="contenedor-talles">
                        
                        <input type="checkbox" name="sizes" id="product-t-35" value="1"
                        <% if (locals && locals.product && product.sizes && product.sizes.indexOf('1')+1 ) {%><%= checked='checked'%><% } %>>
                        <label for="product-t-35" class="size">35
                        </label>
                        
                        <input type="checkbox" name="sizes" id="product-t-36" value="2"
                        <% if (locals && locals.product && product.sizes && product.sizes.indexOf('2')+1 ) {%><%= checked='checked'%><% } %>>
                        <label for="product-t-36" class="size">36
                        </label>
                        
                        <input type="checkbox" name="sizes" id="product-t-37" value="3"
                        <% if (locals && locals.product && product.sizes && product.sizes.indexOf('3')+1 ) {%><%='checked'%><% } %>>
                        <label for="product-t-37" class="size">37
                        </label>
                        
                        <input type="checkbox" name="sizes" id="product-t-38" value="4"
                        <% if (locals && locals.product && product.sizes && product.sizes.indexOf('4')+1 ) {%><%='checked'%><% } %>>
                        <label for="product-t-38" class="size">38
                        </label>
                        
                        <input type="checkbox" name="sizes" id="product-t-39" value="5"
                        <% if (locals && locals.product && product.sizes && product.sizes.indexOf('5')+1 ) {%><%='checked'%><% } %>>
                        <label for="product-t-39" class="size">39
                        </label>
                        
                        <input type="checkbox" name="sizes" id="product-t-40" value="6"
                        <% if (locals && locals.product && product.sizes && product.sizes.indexOf('6')+1 ) {%><%='checked'%><% } %>>
                        <label for="product-t-40" class="size">40
                        </label>
                        
                        <span id="size_error" class="error width-95">
                            <%= locals && locals.errors && locals.errors.sizes && locals.errors.sizes.msg %>
                        </span>
                    </div>
                    

                    <button type="submit">Agregar producto</button>
                </form>
            </div>
        </div>
        
    </main>
    <%- include('../parcials/footer') %>
    <script src="/script/form-product-validation.js"></script>
</body>
</html>