<!DOCTYPE html>
<html lang="en">
<%- include('../parcials/head') %>
<body>
    <%- include('../parcials/header') %>
    <main class="main-crear-producto">
        <div class="form-container">
            <div class="form-content">
                <h2>EDITANDO PRODUCTO - id: <%= product && id %></h2>
                <form action="/admin/product/<%= product && id %>?_method=PUT" method="POST">
                    <label for="product-name">Nombre del producto: </label>
                    <input type="text" name="name" id="product-name" autofocus value="<%= product && product.name %>">

                    <label for="product-price">Precio</label>
                    <input type="number" min="0.00" max="1000000.00" step="0.01" name="price" id="product-price" placeholder="Ej. 4200.99" value="<%= product && product.price %>">

                    <label for="product-discount">Descuento</label>
                    <input type="number" min="0.00" max="1000000.00" step="0.01" name="onSale" id="product-discount" placeholder="Ej. 50%" value="<%= product && product.onSale %>">
        
                    <label for="product-desc">Descripción</label>
                    <textarea maxlength="500" name="description" id="product-desc" cols="60" rows="5" 
                        placeholder="Descripción del producto (Hasta 500 caracteres)"><%= product && product.description %></textarea>
        
                    <input type="file" name="image" id="product-image">
        
                    <span>Género</span>
                    <div class="contenedor-categorias"> 

                        
                        <label id="product-m-mujer" for="product-c-mujer" class="<%= product && product.gender.female%>">MUJER 
                            <input type="checkbox" name="gender" id="product-c-mujer" value="1"  <%= product && product.gender.female %>>
                        </label>
                        
                        <label id="product-m-hombre" for="product-c-hombre" class="<%= product && product.gender.male%>">HOMBRE 
                            <input type="checkbox" name="gender" id="product-c-hombre" value="2" <%= product && product.gender.male %>>
                        </label>

                    </div>

                    <span>Marca</span>
                    <div class="contenedor-marcas">

                        <label id="product-m-nike" for="product-c-nike" class="<%= product && product.brand.nike%>">NIKE
                            <input type="checkbox" name="brand" id="product-c-nike" value="1"  <%= product && product.brand.nike %>>
                        </label>
                        

                        <label id="product-m-adidas" for="product-c-adidas" class="<%= product && product.brand.adidas%>">ADIDAS 
                            <input type="checkbox" name="brand" id="product-c-adidas" value="2" <%= product && product.brand.adidas %>>
                        </label>
                        

                        <label id="product-m-puma" for="product-c-puma" class="<%= product && product.brand.puma%>">PUMA 
                            <input type="checkbox" name="brand" id="product-c-puma" value="3" <%= product && product.brand.puma %>>
                        </label>
                        

                        <label id="product-m-newbalance" for="product-c-newbalance" class="<%= product && product.brand.newbalance%>">NEW BALANCE 
                            <input type="checkbox" name="brand" id="product-c-newbalance" value="4" <%= product && product.brand.newbalance %>>
                        </label>
                        
                    </div>



                    <span>Categoría</span>
                    <div class="contenedor-categorias">

                        <label id="product-m-tennis" for="product-c-tennis" class="<%= product && product.category.tennis%>">TENNIS 
                            <input type="checkbox" name="category" id="product-c-tennis" value="Tennis"  <%= product && product.category.tennis %>>
                        </label>
                        

                        <label id="product-m-running" for="product-c-running" class="<%= product && product.category.running%>">RUNNING 
                            <input type="checkbox" name="category" id="product-c-running" value="Running" <%= product && product.category.running %>>
                        </label>
                        

                        <label id="product-m-football" for="product-c-football" class="<%= product && product.category.football%>">FOOTBALL 
                            <input type="checkbox" name="category" id="product-c-football" value="Football" <%= product && product.category.football %>>
                        </label>
                        

                        <label id="product-m-volley" for="product-c-volley" class="<%= product && product.category.volley%>">VOLLEY 
                            <input type="checkbox" name="category" id="product-c-volley" value="Volley" <%= product && product.category.volley %>>
                        </label>

                        <label id="product-m-collection" for="product-c-collection" class="<%= product && product.category.collection%>">COLLECTION 
                            <input type="checkbox" name="category" id="product-c-collection" value="Collection" <%= product && product.category.collection %>>
                        </label>
                        
                    </div>
                    
                    <span>Colores</span>
                    <div class="contenedor-colores">

                        <label id="product-m-white" for="product-c-white" class="white <%= product && product.colors.white %>">
                            <input type="checkbox" name="colors" id="product-c-white" value="white" <%= product && product.colors.white %>>
                        </label>

                        <label id="product-m-red" for="product-c-rojo" class="rojo <%= product && product.colors.red %>">
                            <input type="checkbox" name="colors" id="product-c-rojo" value="red" <%= product && product.colors.red %>>
                        </label>
                        
                        <label id="product-m-blue" for="product-c-azul" class="azul <%= product && product.colors.blue %>">
                            <input type="checkbox" name="colors" id="product-c-azul" value="blue" <%= product && product.colors.blue %>>
                        </label>

                        <label id="product-m-yellow" for="product-c-amarillo" class="amarillo <%= product && product.colors.yellow %>">
                            <input type="checkbox" name="colors" id="product-c-amarillo" value="yellow" <%= product && product.colors.yellow %>>
                        </label>

                        <label id="product-m-black" for="product-c-negro" class="negro <%= product && product.colors.black %>">
                            <input type="checkbox" name="colors" id="product-c-negro" value="black" <%= product && product.colors.black %>>
                        </label>

                        <label id="product-m-green" for="product-c-verde" class="verde <%= product && product.colors.green %>">
                            <input type="checkbox" name="colors" id="product-c-verde" value="green" <%= product && product.colors.green %>>
                        </label>

                        <label id="product-m-gray" for="product-c-gris" class="gris <%= product && product.colors.gray %>">
                            <input type="checkbox" name="colors" id="product-c-gris" value="gray" <%= product && product.colors.gray %>>
                        </label>
                        
                    </div>
                    
                    <span>Talles</span>
                    <div class="contenedor-talles">

                        <label id="product-m-t-34" for="product-t-34" class="size <%= product && product.sizes.t34 %>">34
                            <input type="checkbox" name="sizes" id="product-t-34" value="34" <%= product && product.sizes.t34 %>>
                        </label>

                        <label id="product-m-t-35" for="product-t-35" class="size <%= product && product.sizes.t35 %>">35
                            <input type="checkbox" name="sizes" id="product-t-35" value="35" <%= product && product.sizes.t35 %>>
                        </label>

                        <label id="product-m-t-36" for="product-t-36" class="size <%= product && product.sizes.t36 %>">36
                            <input type="checkbox" name="sizes" id="product-t-36" value="36" <%= product && product.sizes.t36 %>>
                        </label>

                        <label id="product-m-t-37" for="product-t-37" class="size <%= product && product.sizes.t37 %>">37
                            <input type="checkbox" name="sizes" id="product-t-37" value="37" <%= product && product.sizes.t37 %>>
                        </label>

                        <label id="product-m-t-38" for="product-t-38" class="size <%= product && product.sizes.t38 %>">38
                            <input type="checkbox" name="sizes" id="product-t-38" value="38" <%= product && product.sizes.t38 %>>
                        </label>

                        <label id="product-m-t-39" for="product-t-39" class="size <%= product && product.sizes.t39 %>">39
                            <input type="checkbox" name="sizes" id="product-t-39" value="39" <%= product && product.sizes.t39 %>>
                        </label>

                        <label id="product-m-t-40" for="product-t-40" class="size <%= product && product.sizes.t40 %>">40
                            <input type="checkbox" name="sizes" id="product-t-40" value="40" <%= product && product.sizes.t40 %>>
                        </label>

                    </div>

                        <label for="product-stock">Stock: </label>
                        <input type="text" name="stock" id="product-stock" autofocus value="<%= product && product.stock %>">

                        <button type="submit">Guardar cambios</button>
                    
                </form>
            </div>
        </div>
        
    </main>
    <%- include('../parcials/footer') %>

    <script src="/script/script-checked.js"></script>
    <script src="/script/script.js"></script>
    <script src="/script/footer.js"></script>
</body>
</html>