<!DOCTYPE html>
<html lang="en">
<%- include('../parcials/head') %>
<body>
    <%- include('../parcials/header') %>
    <main class="main-crear-producto">
        <div class="form-container">
            <div class="form-content">
                <h2>EDITANDO PRODUCTO - id: <%= locals && locals.id %></h2>
                <form id="product" action="/admin/product/<%= locals && locals.id  %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <label  for="product-name">Nombre del producto: </label>
                    <input class="<%if(locals&&locals.errors&&errors.name){%><%="error-input"%><%}%>" type="text" name="name" id="name" autofocus value="<%= product && product.name %>">
                    <span id="name_error" class="error">
                        <%= locals && locals.errors && locals.errors.name && locals.errors.name.msg %>
                    </span>


                    <label for="product-price">Precio</label>
                    <input class="<%if(locals&&locals.errors&&errors.price){%><%="error-input"%><%}%>" type="number" min="0.00" max="1000000.00" step="0.01" name="price" id="price" placeholder="Ej. 4200.99" value="<%= product && product.price %>">
                    <span id="price_error" class="error">
                        <%= locals && locals.errors && locals.errors.price && locals.errors.price.msg %>
                    </span>


                    <label for="on_sale">Descuento</label>
                    <input class="<%if(locals&&locals.errors&&errors.on_sale){%><%="error-input"%><%}%>" type="number" min="0.00" max="1000000.00" step="0.01" name="on_sale" id="on_sale" placeholder="Ej. 50%" value="<%= product && product.on_sale %>">
                    <span id="on_sale_error" class="error">
                        <%= locals && locals.errors && locals.errors.on_sale && locals.errors.on_sale.msg %>
                    </span>


                    <label for="description">Descripción</label>
                    <textarea class="<%if(locals&&locals.errors&&errors.description){%><%="error-input"%><%}%>" maxlength="500" name="description" id="description" cols="60" rows="5" 
                        placeholder="Descripción del producto (Hasta 500 caracteres)"><%= product && product.description %></textarea>
                    <span id="description_error" class="error">
                        <%= locals && locals.errors && locals.errors.description && locals.errors.description.msg %>
                    </span>


                    <input class="<%if(locals&&locals.errors&&errors.image){%><%="error-input"%><%}%>" multiple type="file" name="image" id="image" accept="image/*">
                    <span id="image_error" class="error">
                        <%= locals && locals.errors && locals.errors.image && locals.errors.image.msg %>
                    </span>
        
                    <span>Género</span>
                    <div class="contenedor-categorias"> 

                        <label id="product-m-mujer" for="product-c-mujer" class="<%= product && product.gender.female%>">MUJER 
                            <input type="radio" name="gender" id="product-c-mujer" value="1"  <%= product && product.gender.female %>>
                        </label>
                        
                        <label id="product-m-hombre" for="product-c-hombre" class="<%= product && product.gender.male%>">HOMBRE 
                            <input type="radio" name="gender" id="product-c-hombre" value="2" <%= product && product.gender.male %>>
                        </label>

                        <label id="product-m-unisex" for="product-c-unisex" class="<%= product && product.gender.unisex%>">UNISEX 
                            <input type="radio" name="gender" id="product-c-unisex" value="3" <%= product && product.gender.unisex %>>
                        </label>

                        <span id="gender_error" class="error width-95">
                            <%= locals && locals.errors && locals.errors.gender && locals.errors.gender.msg %>
                        </span>

                    </div>
            
                    <span>Marca</span>
                    <div class="contenedor-marcas">

                        <input type="radio" name="brand" id="product-c-nike" value="1"  <%= product && product.brand.nike %>>
                        <label id="product-m-nike" for="product-c-nike" class="<%= product && product.brand.nike%>">NIKE</label>
                        
                        <input type="radio" name="brand" id="product-c-adidas" value="2" <%= product && product.brand.adidas %>>
                        <label id="product-m-adidas" for="product-c-adidas" class="<%= product && product.brand.adidas%>">ADIDAS </label>
                        
                        <input type="radio" name="brand" id="product-c-puma" value="3" <%= product && product.brand.puma %>>
                        <label id="product-m-puma" for="product-c-puma" class="<%= product && product.brand.puma%>">PUMA </label>
                        
                        <input type="radio" name="brand" id="product-c-newbalance" value="4" <%= product && product.brand.newbalance %>>
                        <label id="product-m-newbalance" for="product-c-newbalance" class="<%= product && product.brand.newbalance%>">NEW BALANCE </label>
                        
                        <span id="brand_error" class="error width-95">
                            <%= locals && locals.errors && locals.errors.brand && locals.errors.brand.msg %>
                        </span>

                    </div>



                    <span>Categoría</span>
                    <div class="contenedor-categorias">

                        <label id="product-m-tennis" for="product-c-tennis" class="<%= product && product.category.tennis%>">TENNIS 
                            <input type="checkbox" name="category" id="product-c-tennis" value="4"  <%= product && product.category.tennis %>>
                        </label>
                        

                        <label id="product-m-running" for="product-c-running" class="<%= product && product.category.running%>">RUNNING 
                            <input type="checkbox" name="category" id="product-c-running" value="1" <%= product && product.category.running %>>
                        </label>
                        

                        <label id="product-m-football" for="product-c-football" class="<%= product && product.category.football%>">FOOTBALL 
                            <input type="checkbox" name="category" id="product-c-football" value="3" <%= product && product.category.football %>>
                        </label>
                        

                        <label id="product-m-volley" for="product-c-volley" class="<%= product && product.category.volley%>">VOLLEY 
                            <input type="checkbox" name="category" id="product-c-volley" value="5" <%= product && product.category.volley %>>
                        </label>

                        <label id="product-m-collection" for="product-c-collection" class="<%= product && product.category.collection%>">COLLECTION 
                            <input type="checkbox" name="category" id="product-c-collection" value="2" <%= product && product.category.collection %>>
                        </label>

                        <span id="category_error" class="error width-95">
                            <%= locals && locals.errors && locals.errors.category && locals.errors.category.msg %>
                        </span>
                    </div>
                    
                    <span>Colores</span>
                    <div class="contenedor-colores">

                        
                        <label id="product-m-red" for="product-c-rojo" class="rojo <%= product && product.colors.red %>">
                            <input type="checkbox" name="colors" id="product-c-rojo" value="1" <%= product && product.colors.red %>>
                        </label>
                        
                        <label id="product-m-blue" for="product-c-azul" class="azul <%= product && product.colors.blue %>">
                            <input type="checkbox" name="colors" id="product-c-azul" value="2" <%= product && product.colors.blue %>>
                        </label>
                        
                        <label id="product-m-yellow" for="product-c-amarillo" class="amarillo <%= product && product.colors.yellow %>">
                            <input type="checkbox" name="colors" id="product-c-amarillo" value="3" <%= product && product.colors.yellow %>>
                        </label>
                        
                        <label id="product-m-black" for="product-c-negro" class="negro <%= product && product.colors.black %>">
                            <input type="checkbox" name="colors" id="product-c-negro" value="5" <%= product && product.colors.black %>>
                        </label>

                        <label id="product-m-green" for="product-c-verde" class="verde <%= product && product.colors.green %>">
                            <input type="checkbox" name="colors" id="product-c-verde" value="4" <%= product && product.colors.green %>>
                        </label>

                        <label id="product-m-white" for="product-c-white" class="white <%= product && product.colors.white %>">
                            <input type="checkbox" name="colors" id="product-c-white" value="6" <%= product && product.colors.white %>>
                        </label>

                        <label id="product-m-gray" for="product-c-gris" class="gris <%= product && product.colors.gray %>">
                            <input type="checkbox" name="colors" id="product-c-gris" value="7" <%= product && product.colors.gray %>>
                        </label>

                        <span id="color_error" class="error width-95">
                            <%= locals && locals.errors && locals.errors.colors && locals.errors.colors.msg %>
                        </span>
                        
                    </div>
                    
                    <span>Talles</span>
                    <div class="contenedor-talles">


                        <label id="product-m-t-35" for="product-t-35" class="size <%= product && product.sizes.t35 %>">35
                            <input type="checkbox" name="sizes" id="product-t-35" value="1" <%= product && product.sizes.t35 %>>
                        </label>

                        <label id="product-m-t-36" for="product-t-36" class="size <%= product && product.sizes.t36 %>">36
                            <input type="checkbox" name="sizes" id="product-t-36" value="2" <%= product && product.sizes.t36 %>>
                        </label>

                        <label id="product-m-t-37" for="product-t-37" class="size <%= product && product.sizes.t37 %>">37
                            <input type="checkbox" name="sizes" id="product-t-37" value="3" <%= product && product.sizes.t37 %>>
                        </label>

                        <label id="product-m-t-38" for="product-t-38" class="size <%= product && product.sizes.t38 %>">38
                            <input type="checkbox" name="sizes" id="product-t-38" value="4" <%= product && product.sizes.t38 %>>
                        </label>

                        <label id="product-m-t-39" for="product-t-39" class="size <%= product && product.sizes.t39 %>">39
                            <input type="checkbox" name="sizes" id="product-t-39" value="5" <%= product && product.sizes.t39 %>>
                        </label>

                        <label id="product-m-t-40" for="product-t-40" class="size <%= product && product.sizes.t40 %>">40
                            <input type="checkbox" name="sizes" id="product-t-40" value="6" <%= product && product.sizes.t40 %>>
                        </label>

                        <span id="size_error" class="error width-95">
                            <%= locals && locals.errors && locals.errors.sizes && locals.errors.sizes.msg %>
                        </span>

                    </div>

                        <label for="product-stock">Stock: </label>
                        <input type="text" name="stock" id="product-stock" autofocus value="<%= product && product.stock %>">

                        <button type="submit">Guardar cambios</button>
                    
                </form>
            </div>
        </div>
        
    </main>
    <%- include('../parcials/footer') %>

    <script src="/script/script-checked.js"></script>
    <script src="/script/script.js"></script>
    <script src="/script/footer.js"></script>
    <!-- <script src="/script/edit-form-product-validation.js"></script> -->
</body>
</html>