<!DOCTYPE html>
<html lang="en">
<%- include('../parcials/head') %>
<body>

    <%- include('../parcials/header') %>
    
<!-- Main Index -->
<main class="main-product-detail">
    <div class="breadcrumbs">
        <!-- <span>/ productos / mujer / deportica / Zapatillas de niños New Balance Cruz Sport Grade </span> -->
        <span>
            / <a href="/product">productos</a> 
            / <a href="/product/<%= product && product.gender.name %>"><%= product && product.gender.name %></a>
            / <a href="/product/<%= product && product.gender.name %>/<%= product && product.categories[0].name %>"><%= product && product.categories[0].name %></a>
            / <%= product && product.name %>
        </span>
    </div>
    <article>
        <div class="product-detail-flex-container">

            <div class="product-detail-left-desktop">
                <!--Slideshow-->
                <div class="product-detail-slideshow">
                
                    <img id="img-principal" src="/img/<%= product && product.images[0].file_name %>" alt="Zapatillas de niños New Balance Cruz Sport Grade">
                
                    <div class="product-detail-thumnails">
                        <img class="thumnails selected" src="/img/<%= product && product.images[0].file_name %>" alt="">
                        <img class="thumnails" src="/img/<%= product && product.images[1].file_name %>" alt="">
                        <img class="thumnails" src="/img/<%= product && product.images[2].file_name %>" alt="">
                        <img class="thumnails" src="/img/<%= product && product.images[3].file_name %>" alt="">
                    </div>
    
                </div>
                
                <div class="product-detail-sticky mobile"> 
                    <div class="product-detail-container">
                        <form action="" method="get">
                            <div class="product-detail-content">
                                <h1><%= product && product.name %></h1>
                                <span>$<%= product && product.price %></span><br>
                                <span>Color</span>
                                <div class="product-colors">
                                    <% if(product && product.colors) { 
                                        product.colors.forEach(color => { %>
                                            <input type="radio" name="color" id="m<%= color.code %>" value="<%= color.code %>">
                                            <label id="colors" class="color-label" for="m<%= color.code %>"></label>
                                        <% }); %>
                                    <% } %>
                                </div>
                            </div>
                    
                            <div class="product-sizes-container">
                                <span>Talle</span>
                                <div class="product-sizes">
                                    <% if(product && product.sizes) { 
                                        product.sizes.forEach(size => { %>
                                            <input type="radio" name="size" id="m<%= size.size %>" value="<%= size.size %>">
                                            <label class="size" for="m<%= size.size %>"><%= size.size %></label>
                                        <% }); %>
                                    <% } %>
                                </div>
                            </div>
                            
                            <div class="purchase-detail">
                                <div class="envio-gratis">
                                    <i class="fas fa-truck"></i>
                                    <span>Envío gratis a todo el país.</span>
                                </div>
                                <div class="devolucion-gratis">
                                    <i class='fas fa-undo-alt'></i>
                                    <span>Devolución gratis.</span>
                                </div>
                                <div class="paga-seguro">
                                    <i class="fas fa-hand-holding-usd"></i>
                                    <span>Paga seguro.</span>
                                </div>
                            </div>
                
                            <button class="btn-add-cart">AÑADIR AL CARRITO</button>
                        </form>
                    </div>
                </div>
        
                <main class="product-description">
                    <h3>Descripción</h3>
                    <p>
                        <%= product && product.description %>
                    </p>
                </main>
            </div>


            <div class="product-detail-sticky desktop"> 
                <div class="product-detail-container">
                    <form action="" method="get">
                        <div class="product-detail-content">
                            <h1><%= product && product.name %></h1>
                            <span>$<%= product && product.price %></span><br>
                            <span>Color</span>
                            <div class="product-colors">
                                <% if(product && product.colors) { 
                                    product.colors.forEach(color => { %>
                                        <input type="radio" name="color" id="m<%= color.code %>" value="<%= color.code %>">
                                        <label id="colors" class="color-label <%= color.code %>" for="m<%= color.code %>"></label>
                                    <% }); %>
                                <% } %>
                            </div>
                        </div>
                
                        <div class="product-sizes-container">
                            <span>Talle</span>
                            <div class="product-sizes">
                                <% if(product && product.sizes) { 
                                    product.sizes.forEach(size => { %>
                                        <input type="radio" name="size" id="m<%= size.size %>" value="<%= size.size %>">
                                            <label class="size" for="m<%= size.size %>"><%= size.size %></label>
                                    <% }); %>
                                <% } %>
                            </div>
                        </div>
                        
                        <div class="purchase-detail">
                            <div class="envio-gratis">
                                <i class="fas fa-truck"></i>
                                <span>Envío gratis a todo el país.</span>
                            </div>
                            <div class="devolucion-gratis">
                                <i class='fas fa-undo-alt'></i>
                                <span>Devolución gratis.</span>
                            </div>
                            <div class="paga-seguro">
                                <i class="fas fa-hand-holding-usd"></i>
                                <span>Paga seguro.</span>
                            </div>
                        </div>
            
                        <button class="btn-add-cart">AÑADIR AL CARRITO</button>
                    </form>
                </div>
            </div>

            <h4 class="titulo-productos-destacados width-side-sticky"> PRODUCTOS DESTACADOS</h4>
            <%- include('../parcials/slider') %>

        </div>
    </article>
</main>

<%- include('../parcials/footer') %>


<script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script><!--Librería carousel-->
<script src="/script/carousel-destacados-insta.js"></script>
<script src="/script/script.js"></script>
<script src="/script/footer.js"></script>

</body>
</html>
