<!DOCTYPE html>
<html lang="en">
<%- include('../parcials/head') %>
<body>
  
<%- include('../parcials/header') %>
  
<main class="main-shop">
    <div class="bannerSection">
        <span class="ubicacion"> ubicación en cuanto al sitio</span>
        <img class="bannerShop" alt="banner" src="/img/banner-hombre-logo.jpg">
    </div>
    
    <%- include('../parcials/filters_mobile') %>

    <div class="contenedor-vidriera-filtros">
        <%- include('../parcials/filters') %>
        <div class="vidrieraShop">
            <% products.forEach(product => { %>
                <a href="/product/detail/<%= product.id %>"><div class="productoVidriera"><!--Debería ser product/detail/id-->
                    <% if (product.images.length) { %> 
                        <img alt="zapatilla" src="/img/<%=product.images[0].file_name%>">
                    <% } else { %>
                        <img alt="zapatilla" src="/img/no_image_available.jpg">
                    <% } %>
                    <div class="contenedor-boton-shop-now-icono">
                        <button class="boton-shop-now">
                            Agregar al carrito
                            <i class="fas fa-bolt"></i>
                        </button>
                    </div>  
                    <div class="descripcion"> 
                        <i class="fas fa-tags"></i>
                        <p> <%=product.name%></p>
                    </div>
                     <div class="precio">
                        <i class="fas fa-hand-holding-usd"></i>
                        <p><%= product.price%></p>
                    </div>   
                </div></a>
            <% }); %>            
       </div>
    </div>
    
</main>

<%- include('../parcials/footer') %>

    <script src="/script/shop.js"></script>
</body>
</html>